/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}




/* styles frontend */


body {
	background-color: #f7f7f7;
	font-family: 'Mukta Malar', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.lt-group:before, .lt-group:after {
	content: "";
	display: table;
}
.lt-group:after {
	clear: both;
}
.lt-group {
	zoom: 1;
}

.lt-container {
	margin: 0 auto; padding: 0 10px;
	max-width: 1390px;
}

.lt-header .lt-navigation {
	padding: 10px 0;
	background-image: -moz-linear-gradient( 90deg, rgb(201,225,134) 0%, rgb(167,192,100) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(201,225,134) 0%, rgb(167,192,100) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(201,225,134) 0%, rgb(167,192,100) 100%);
	font-weight: 700;
	text-transform: uppercase;
}
@media (min-width: 576px) {
	.lt-header .lt-navigation {
		-webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
		clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
	}
}
@media (min-width: 1200px) {
	.lt-header .lt-navigation {
		padding-left: 85px; padding-right: 85px;
	}
}
@media (min-width: 576px) and (max-width: 1199px) {
	.lt-header .lt-navigation {
		padding-left: 50px; padding-right: 50px;
	}
}
@media (min-width: 1200px) {
	.lt-header .lt-navigation {
		font-size: 18px;
	}
}
@media (max-width: 991px) {
	.lt-header .lt-navigation {
		font-size: 14px;
	}
}
.lt-header .lt-navigation ul:first-child {
	color: #fff;
}
.lt-header .lt-navigation ul:last-child {
	color: #000;
}
@media (min-width: 576px) {
	.lt-header .lt-navigation ul:first-child {
		float: left;
	}
	.lt-header .lt-navigation ul:last-child {
		float: right;
	}
	.lt-header .lt-navigation li {
		display: inline;
	}
}
@media (max-width: 575px) {
	.lt-header .lt-navigation {
		text-align: center;
	}
	.lt-header .lt-navigation ul:first-child {
		margin: 0 0 10px 0;
	}
	.lt-header .lt-navigation li:not(:last-child) {
		margin: 0 0 10px 0;
	}
}
@media (min-width: 992px) {
	.lt-header .lt-navigation li:not(:last-child) {
		margin: 0 50px 0 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.lt-header .lt-navigation li:not(:last-child) {
		margin: 0 25px 0 0;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.lt-header .lt-navigation li:not(:last-child) {
		margin: 0 5px 0 0;
	}
}
.lt-header .lt-navigation a:hover {
	position: relative;
}
.lt-header .lt-navigation a:hover::after {
	content: "";
	position: absolute;
	bottom: 5px;
	left: 0; right: 0;
	height: 1px;
	background-color: #cee09c;
}

.lt-home {
	margin: 180px 0;
}
.lt-home .lt-logo {
	margin: 0 0 50px 0;
	text-align: center;
}
.lt-home .lt-search {
	margin: 0 0 50px 0; padding: 0 0 62px 0;
	text-align: center;
	background: center bottom no-repeat url(../images/search-background.png);
}
.lt-home .lt-search form {
	display: inline-block;
	padding: 5px;
	background-color: #fff;
}
.lt-home .lt-search input {
	border-radius: 10px;
	font-weight: 500;
}
.lt-home .lt-search input[type="text"] {
	padding: 15px 20px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(247,247,247) 100%);
	color: #b1b1b1;
}
@media (min-width: 576px) {
	.lt-home .lt-search input {
		font-size: 25px;
	}
	.lt-home .lt-search input[type="text"] {
		margin: 0 5px 0 0;
	}
}
@media (max-width: 575px) {
	.lt-home .lt-search input {
		font-size: 20px;
	}
	.lt-home .lt-search input[type="text"] {
		margin: 0 0 5px 0;
	}
}
@media (min-width: 992px) {
	.lt-home .lt-search input[type="text"] {
		width: 700px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.lt-home .lt-search input[type="text"] {
		width: 500px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.lt-home .lt-search input[type="text"] {
		width: 300px;
	}
}
@media (max-width: 575px) {
	.lt-home .lt-search input[type="text"] {
		width: 260px;
	}
}
.lt-home .lt-search input[type="submit"] {
	padding: 15px 50px;
	background-image: -moz-linear-gradient( 90deg, rgb(201,225,134) 0%, rgb(222,247,154) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(201,225,134) 0%, rgb(222,247,154) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(201,225,134) 0%, rgb(222,247,154) 100%);
	color: #5f5f5f;
	text-transform: uppercase;
	cursor: pointer;
}
.lt-home .lt-categories {
	margin: 0 0 50px 0;
	text-align: center;
	font-size: 20px; font-weight: 600;
	color: #26211d;
}
@media (min-width: 576px) {
	.lt-home .lt-categories li {
		display: inline-block;
	}
}
@media (min-width: 1200px) {
	.lt-home .lt-categories li:not(:last-child) {
		margin: 0 100px 0 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.lt-home .lt-categories li:not(:last-child) {
		margin: 0 50px 0 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.lt-home .lt-categories li:not(:last-child) {
		margin: 0 25px 0 0;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.lt-home .lt-categories li:not(:last-child) {
		margin: 0 10px 0 0;
	}
}
@media (max-width: 575px) {
	.lt-home .lt-categories li:not(:last-child) {
		margin: 0 0 15px 0;
	}
}
.lt-home .lt-categories a:hover span {
	position: relative;
}
.lt-home .lt-categories a:hover span::after {
	content: "";
	position: absolute;
	bottom: 0; left: 5px; right: 5px;
	height: 2px;
	background-color: #d7ec53;
}
.lt-home .lt-announcements .lt-heading {
	margin: 0 0 10px 10px;
	font-size: 20px; font-weight: 600;
	color: #000;
	text-transform: uppercase;
}
@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -100%);
	}
}
.lt-home .lt-announcements .lt-items {
	padding: 20px;
	border: 2px dashed #b2b2b2;
	height: 75px;
	overflow: hidden;
	font-size: 16px; font-weight: 600;
	color: #5f5f5f;
}
.lt-home .lt-announcements .lt-items ul {
	animation: marquee 10s linear infinite;
}
.lt-home .lt-announcements .lt-items:hover ul {
	animation-play-state: paused;
}
.lt-home .lt-announcements .lt-items li {
	position: relative;
	padding: 0 0 0 15px;
}
.lt-home .lt-announcements .lt-items li::before {
	content: '\2022';
	position: absolute;
	left: 0;
}
.lt-home .lt-announcements .lt-items li:not(:last-child) {
	margin: 0 0 10px 0;
}

.lt-footer {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
	font-size: 16px; font-weight: 600;
	color: #000;
	text-transform: uppercase;
}
.lt-footer .lt-links {
	margin: 0 0 30px 0;
}
@media (min-width: 576px) {
	.lt-footer .lt-links li {
		display: inline;
	}
	.lt-footer .lt-links li:not(:last-child)::after {
		content: " | ";
		margin: 0 30px;
	}
}
@media (max-width: 575px) {
	.lt-footer .lt-links li:not(:last-child) {
		margin: 0 0 10px 0;
	}
}
